.containerMain {
    margin: 30px;
}

.headerRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.headerButton{
    /*margin-bottom: 10px;*/
}

.cardDefault {
    margin-bottom: 15px;
}

.alphabetButton {
    max-width: 50px;
    max-height: 50px;
    min-width: 30px;
    min-height: 30px;
    margin: 3px;
}

.alphabetDiv {
    margin-top: 20px;
}